.main-container {
    position: absolute;
    top: 64px;
    left: 10% !important;
    right: 10% !important;
    bottom: 0;
    padding: 20px;
}

.nav-spacer-mini {
    flex: 0.5 auto;
}

.chat-msg-userneme
{
    font-weight: 600;
}

.portal-name
{
    color: orange;
}

.mat-toolbar {
    background:#306bbb !important;
    color:#ffff !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 75px !important;
}


:host {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.nav-brand {
    width: 250px;
    text-align: center;
}
.case-nav-block{
    text-align: center;
    height: 65%;
    background: #5788c7;   
    padding: inherit;
}
.topnav-icon {
    text-decoration: none;
    display: flex;
    color: #fff;
}

.nav-spacer {
    flex: 1 1 auto;
}

.visible-md {
    display: none;
}
.visible-sm {
    display: none;
}
my-select mat-select {
    background-color: rgba(58, 40, 8, 0.12);
    padding: 6px 10px 6px 10px;   /* 10px left and right padding*/
    box-sizing: border-box;
    border-radius: 5px;
}

.my-select .mat-select-value {
    font-family: Roboto-Regular;
    font-size: 16px;
    color: rgba(58, 40, 8, 0.87);
}

.my-select .mat-form-field-underline {
    display: none;
}

.my-select mat-select-trigger div>i {
    margin-right: 8px;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
  }
  /* Font color */
  input.mat-input-element {
    color: white !important ;
  }
@media screen and (max-width: 992px) {
    .visible-md {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .visible-sm {
        display: block;
    }
    .nav-brand {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}

.menu-spacer {
    flex: 1 1 auto;
  }

  ::ng-deep  .mat-tab-label.mat-tab-label-active .mat-tab-group .mat-primary {
    background-color:none !important;
    
}
::ng-deep .mat-tab-label, .mat-tab-link  .mat-tab-label-content {
    color:rgb(255, 255, 255) !important;
}

.mat-tab-label-active{
    color:#ffff;
}

.mat-ink-bar{
    background-color:red;
}
.mat-tab-label-active{
     color: #00ADEE !important;
 }

 .matTabForMobile{
        background:#306bbb !important;
        color:#ffff !important;      
 }

.mobileCaseCls{
    font-size: 12px;
}

.mobileBlock{
    height: 50%!important;
}

.mobileExitBtn{
    position: absolute;
    right: 0;
}
.account_circle{
    font-size: 40px;
}
.mobileDashboardHeader{
    text-align: left;
    font-size: 18px;
}
.colorWhite{
    color:#ffffff;
}
::ng-deep .mat-ink-bar {
    background-color:#fff !important;
}
.mat-tab-label {
    opacity: 1 !important;
}
.mat-tab-label-active {
    opacity: 1 !important;
}
::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  opacity: 1;
}

.case-nav-block {
    background: #306bbb;
    border: none;
}
@supports (-webkit-hyphens:none)
{
    .account_circle {
        font-size: 32px;
    }
}
    
@media screen and (min-width:0) and (min-resolution: +72dpi) { 
    .case-nav-block{
        color: #fff;
    }
 }